In [56]:
for i in range(2):
    for j in range(1, 11):
        print(i, "*", j, "=", i*j)
    print()

0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0
0 * 10 = 0

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [14]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i*j,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [55]:
x = [1,2,4,10]
y=[]

for i in x:
    a = 1
    for j in range(len(x)):
        if i == x[j]:
            pass
        else:
            a=a*x[j]
    y.append(a)
print(y)

[80, 40, 20, 8]

In [57]:
for i in range(1,6):
    for j in range(1, i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [76]:
for i in range(5,0,-1):
    for j in range(1, i+1):
        print('*',end='')
    print()

*****
****
***
**
*

In [80]:
for i in range(1,6):
    for k in range(1, 6-i):
        print(" ",end="")
    for j in range(1, i+1):
        print('*',end='')
    print()

    *
   **
  ***
 ****
*****

In [82]:
for i in range(5,0,-1):
    for k in range(1, 6-i):
        print(" ",end="")
    for j in range(1, i+1):
        print('*',end='')
    print()

*****
 ****
  ***
   **
    *

In [84]:
for i in range(1,6):
    for k in range(1, 6-i):
        print(" ",end="")
    for j in range(1, (2*i-1)+1):
        print('*',end='')
    print()

    *
   ***
  *****
 *******
*********

In [106]:
for i in range(1,6):
    for j in range(1, i+1):
        print('*',end='')
    print()

for i in range(4,0,-1):
    for j in range(1, i+1):
        print('*',end='')
    print()

*
**
***
****
*****
****
***
**
*

In [11]:
for i in range(1,6):
    for j in range(1, i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [156]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end='')
    print()

1
21
321
4321
54321

In [155]:
for i in range(1,6):
    for j in range(1, i+1):
        print(i,end='')
    print()

1
22
333
4444
55555

In [161]:
k=0
for i in range(6,1,-1):
    for j in range(5-k,6):
        print(j,end='')
    k+=1
    print()

5
45
345
2345
12345

In [151]:
num = 1
for i in range(1 , 6):
    for j in range (1 , i+1):
        print(num , end = " ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [162]:
for i in range(65,70):
    for j in range(65, i+1):
        print(chr(j),end='')
    print()

A
AB
ABC
ABCD
ABCDE

In [163]:
for i in range(65,70):
    for j in range(65, i+1):
        print(chr(i),end='')
    print()

A
BB
CCC
DDDD
EEEEE

In [167]:
N = 97
for i in range(1,6):
    for j in range (1, i+1):
        print(chr(N) , end = " ")
        N += 1
    print()

a
b c
d e f
g h i j
k l m n o

In [168]:
N = 65
for i in range(1,6):
    for j in range (1, i+1):
        print(chr(N) , end = " ")
        N += 1
    print()

A
B C
D E F
G H I J
K L M N O