In [ ]:
Shoppingcart = {
    '1': {'color': 'like pink',
          'discount': 2, 
          'image': '4ca4987ff734ba522238.jpg', 
          'name': 'baby fabric shoes', 
          'price': '120.00', 
          'quantity': '1'}, 
    '10': {'color': 'White', 
           'discount': 10, 
           'image': '0cb398b60b8b1c2fda53.jpg', 
           'name': 'Running & Trekking Shoes', 
           'price': '299.00', 
           'quantity': '1'}, 
    '11': {'color': 'Black', 
           'discount': 5, 
           'image': '156104cfdbd822556e92.jpg',  
           'name': ' Trekking & Running Shoes', 
           'price': '499.00', 
           'quantity': '1'}, 
    '12': {'color': 'golden',
           'discount': 10, 
           'image': '93b92c891239f8f51752.jpg', 
           'name': 'Womens Party Wear Shoes', 
           'price': '499.00', 
           'quantity': '1'}, 
    '13': {'color': 'black', 
           'discount': 0, 
           'image': '3cc6ce4d0c1b673eb5c2.jpg',  
           'name': "Sports Claw Women's Shoes", 
           'price': '255.00', 
           'quantity': '1'}, 
    '14': {'color': 'golden', 'discount': 0, 'image': '880fe4cdd3e47b60fafb.jpg', 'name': 'Pocket Watch Leather Pouch', 'price': '244.00', 'quantity': '1'}, 
    '15': {'color': ' Silver', 'discount': 5, 'image': '6ef9b79eb8d1c78d330a.jpg', 'name': 'Deer Heart Necklace Jewellery', 'price': '299.00', 'quantity': '1'}, 
    '16': {'color': 'gold', 'discount': 0, 'image': 'd2ef1b8cb208d272479e.jpg', 'name': 'Titan 100 Ml Womens Perfume', 'price': '455.00', 'quantity': '1'}, 
    '17': {'color': 'gold', 'discount': 4, 'image': '81e229bc7cd20a3ff196.jpg', 'name': "Men's Leather Reversible Belt", 'price': '255.00', 'quantity': '1'}, 
    '18': {'color': 'red', 'discount': 4, 'image': 'e4b106256bde772332c5.jpg', 'name': 'shampoo', 'price': '599.00', 'quantity': '1'}, 
    '19': {'color': 'Rose Gold', 'discount': 10, 'image': '77af4b57bb3891fc144a.jpg', 'name': 'Rose Gold diamonds Earring', 'price': '4999.00', 'quantity': '1'}, 
    '2': {'color': 'blue', 'discount': 5, 'image': '929b656ec941b067b14f.jpg', 'name': "men's hoodies t-shirt", 'price': '250.00', 'quantity': '1'}, 
    '20': {'color': 'black', 'discount': 20, 'image': '5e920c8441a610c62397.jpg', 'name': ' Mens Winter Leathers Jackets', 'price': '399.00', 'quantity': '1'}, 
    '21': {'color': 'gold', 'discount': 5, 'image': '3a8949d0f89770e18685.jpg', 'name': 'lady Winter Leathers Jackets', 'price': '399.00', 'quantity': '1'}, 
    '22': {'color': 'gold', 'discount': 0, 'image': 'c437f9ff3d3ff35c95ec.jpg', 'name': 'lady Winter Leathers Jackets', 'price': '355.00', 'quantity': '1'}, 
    '23': {'color': 'Brown', 'discount': 10, 'image': 'e6bce2c3b3633aa2e4be.jpg', 'name': "Casual Men's Brown shoes", 'price': '599.00', 'quantity': '1'}, 
    '24': {'color': 'black', 'discount': 20, 'image': '18f1a7c854a7ace2a434.jpg', 'name': 'Smart watche Vital Plus', 'price': '1800.00', 'quantity': '1'}, 
    '25': {'color': 'Brown', 'discount': 0, 'image': 'de55c601eab81a971a95.jpg', 'name': "Men's Leather Formal Wear shoes", 'price': '700.00', 'quantity': '1'}, 
    '26': {'color': 'pink', 'discount': 2, 'image': '4380328df15a77506888.jpg', 'name': 'Better Basics French Terry Sweatshorts', 'price': '155.00', 'quantity': '1'}, 
    '27': {'color': 'black', 'discount': 0, 'image': 'cf5879be5b22f2d946f7.jpg', 'name': 'Smart watche', 'price': '599.00', 'quantity': '1'}, 
    '28': {'color': 'Rose Gold', 'discount': 4, 'image': 'f0747cf2cf72e82b8847.jpg', 'name': ' platinum zircon classic ring platinum Zircon Classic Ring', 'price': '255.00', 'quantity': '1'}, 
    '29': {'color': 'black', 'discount': 5, 'image': 'c05784967e4f19a49c93.jpg', 'name': 'pandrive', 'price': '1399.00', 'quantity': '1'}, 
    '3': {'color': 'light blue', 'discount': 0, 'image': '3e639ddfffb49d039b20.jpg', 'name': 'girls t-shirt', 'price': '159.00', 'quantity': '1'}, 
    '30': {'color': 'black', 'discount': 0, 'image': '5d7491bab8e0373d95ac.jpg', 'name': 'asus lepto vivo book', 'price': '45000.00', 'quantity': '1'}, 
    '31': {'color': 'Dark gray', 'discount': 20, 'image': '3d273d92ac2da362f8b6.jpg', 'name': 'Logitech K380 Wireless', 'price': '2595.00', 'quantity': '1'}, 
    '32': {'color': 'black', 'discount': 20, 'image': 'a3da2217f8f03e644b15.jpg', 'name': 'Boult Wired Over Ear Headphones', 'price': '29000.00', 'quantity': '1'}, 
    '34': {'color': 'Black', 'discount': 0, 'image': 'faa10f9d7405d0d33421.jpg', 'name': 'BenQ LED Computer Monitor, ', 'price': '4599.00', 'quantity': '1'}, 
    '35': {'color': 'Space Black', 'discount': 0, 'image': '9ce0c039edbe08c561d5.jpg', 'name': 'Apple iPhone 14 Pro Max', 'price': '139900.00', 'quantity': '1'}, 
    '36': {'color': 'Black', 'discount': 0, 'image': 'b394d157ed5133567cfa.jpg', 'name': 'Callas Computer Desk Home/Office', 'price': '299.00', 'quantity': '1'}, 
    '37': {'color': 'Black', 'discount': 2, 'image': '27369a3e265a3010cb7d.png', 'name': 'Tarun child care Booties', 'price': '399.00', 'quantity': '1'}, 
    '4': {'color': 'wooden', 'discount': 2, 'image': 'fd265e9d27dfdb303831.jpg', 'name': 'woolen hat for men', 'price': '199.00', 'quantity': '1'}, 
    '5': {'color': 'white & lightblue', 'discount': 8, 'image': '71c2eb87a4f36e7de42e.jpg', 'name': ' Relaxed Short full Sleeve T-Shirt', 'price': '499.00', 'quantity': '1'}, 
    '6': {'color': 'light pink', 'discount': 10, 'image': '24c721da865ccd515987.jpg', 'name': ' Girls pnk Embro design Top', 'price': '399.00', 'quantity': '1'}, 
    '7': {'color': 'Black', 'discount': 0, 'image': '5547b2414fce71a0c50e.jpg', 'name': ' black floral wrap midi skirt', 'price': '299.00', 'quantity': '1'}, 
    '8': {'color': 'black', 'discount': 0, 'image': 'e36b1b5668248542ae4f.jpg', 'name': ' Pure Garment Dyed Cotton Shirt', 'price': '3500.00', 'quantity': '1'}, 
    '9': {'color': 'white', 'discount': 5, 'image': '0dd0ad9dbbd839890b33.jpg', 'name': 'Pure Garment Dyed Cotton jacket', 'price': '4000.00', 'quantity': '1'}}

In [3]:
print(Shoppingcart['4'])

NameError: name 'Shoppingcart' is not defined

dict = {
    'fmane':'haris',
    'lname': 'rafik',
    'sname':'sulliya',
    'age':23,    
}
print(type(dict))

In [2]:
dict = {}
print(type(dict))

<class 'dict'>

In [3]:
dict = {
    'fmane':'haris',
    'lname': 'rafik',
    'sname':'sulliya',
    'age':23,    
}
print(dict)

{'fmane': 'haris', 'lname': 'rafik', 'sname': 'sulliya', 'age': 23}

In [4]:
dict = {
    'fmane':'haris',
    'lname': 'rafik',
    'sname':'sulliya',
    'age':23,    
}
print(dict['sname'])

sulliya

In [5]:
dict = {
    'fmane':'haris',
    'lname': 'rafik',
    'sname':'sulliya',
    'age':23,    
}
for i in dict:
    print(i)

fmane
lname
sname
age

In [6]:
dict = {
    'fmane':'haris',
    'lname': 'rafik',
    'sname':'sulliya',
    'age':23,    
}
for i in dict.values():
    print(i)

haris
rafik
sulliya
23

In [7]:
dict = {
    'fmane':'haris',
    'lname': 'rafik',
    'sname':'sulliya',
    'age':23,    
}
for i in dict.items():
    print(i)

('fmane', 'haris')
('lname', 'rafik')
('sname', 'sulliya')
('age', 23)

In [8]:
#add
dict = {
    'fmane':'haris',
    'lname': 'rafik',
    'sname':'sulliya',
    'age':23,    
}
dict['color'] = 'red'
print(dict)

{'fmane': 'haris', 'lname': 'rafik', 'sname': 'sulliya', 'age': 23, 'color': 'red'}

In [9]:
#add
dict = {
    'fmane':'haris',
    'lname': 'rafik',
    'sname':'sulliya',
    'age':23,    
}
dict['age'] = 'red'
print(dict)

{'fmane': 'haris', 'lname': 'rafik', 'sname': 'sulliya', 'age': 'red'}

In [10]:
a = {'student':{},'course':{},'address':{}}

b = {
    'mane':'haris',
    'age':23,    
}
a['student']=b

c = {'language':'python',
    'version': 3.11}

d = {'city':'palanpur',
    'state':'gujrat',
    'pincode':385520
    }
a['course']=c
a['address']=d
print(a)
print()

for i in a.values():
    for x in i.values():
        print(x)

print()
for i in a.values():
    for x in i.items():
        print(x[0],':',x[1])

{'student': {'mane': 'haris', 'age': 23}, 'course': {'language': 'python', 'version': 3.11}, 'address': {'city': 'palanpur', 'state': 'gujrat', 'pincode': 385520}}

haris
23
python
3.11
palanpur
gujrat
385520

mane : haris
age : 23
language : python
version : 3.11
city : palanpur
state : gujrat
pincode : 385520

In [11]:
                    
year = int (input ('‚ÄúEnter any year that is to be checked for leap year: ‚Äú'))

if (year % 4) == 0:
    if (year % 100) == 0 and (year % 400) == 0:
            print ('‚ÄúThe given year is a leap year‚Äù')
    else:
        print ('‚ÄúIt is not a leap year‚Äù')
else:     
    print ('‚ÄúIt is not a leap year‚Äù')

KeyboardInterrupt: Interrupted by user

In [ ]:
list_of_strings = ['bobby', 'hadz', '.com']

# ‚úÖ Print list of strings without spaces
result = ''.join(list_of_strings)
print(result)  # bobbyhadz.com

result = ','.join(list_of_strings)
print(result) # üëâÔ∏è bobby,hadz,.com
# ---------------------------------------------

# ‚úÖ Print list of numbers without spaces
list_of_numbers = [44, 22, 88]

result = ''.join(str(item) for item in list_of_numbers)
print(result)  # üëâÔ∏è 442288

In [ ]:
n = int(input())
resu = ''.join(str(item) for item in range(1,n+1))
print(resu)

In [ ]:
English = {'1','2','5','7','9','12','15','10','80','110000'}
Franch = {'2','3','4','5','6','7','80','110000','12'}
a = English.intersection(Franch)
print(a)
print(len(a))

In [ ]:
# join two list in dictionary
ages = ['23', '28', '26', '21']
names = ['Haris', 'Huzaifa', 'Hanjala', 'Mohammad']
nameagedict = {}
x =0
for eachname in names:
    nameagedict[eachname]=ages[x]
    x+=1
    
nameagedict

In [ ]:
# key_value {2: 56, 1: 2, 5: 12, 4: 24, 6: 18, 3: 323}
#output 1 2 3 4 5 6

key_find = {'2': 56, '1': 2, '5': 12, '4': 24, '6': 18, '3': 323}
x = []
for i in key_find.keys():
  x.append(i)
  x.sort()
print('  '.join(x))

In [ ]:
# dict = {'ravi': '10', 'rajnish': '9','sanjeev': '15', 'yash': '2', 'suraj': '32'}
#([('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')])

dict = {'ravi': '10', 'rajnish': '9','sanjeev': '15', 'yash': '2', 'suraj': '32'}C

em_dict = []
for i in dict.values():
  em_dict.append(i)
em_dict.sort()
print(em_dict)

In [ ]:
key_value = {}
key_value[2] = 56
key_value[1] = 2
key_value[5] = 12
key_value[4] = 24
key_value[6] = 18
key_value[3] = 323
print(key_value)
#output (1, 2) (2, 56) (3, 323) (4, 24) (5, 12) (6, 18)

em_dict = []
for i in key_value.items():
  em_dict.append(i)
em_dict.sort()
print(em_dict)
print(em_dict[1])

In [9]:
dict1 = {'ravi': '10', 'rajnish': '9','sanjeev': '15', 'yash': '2', 'suraj': '32'}
sempale = {'umar':12}
em_dict = []
for x in sempale.items():
    print(x)
    
for i in dict1.items():
    em_dict.append(i)
em_dict.insert(1,x)
dict1 = dict(items)
dict1

('umar', 12)
[('ravi', '10'), ('umar', 12), ('rajnish', '9'), ('sanjeev', '15'), ('yash', '2'), ('suraj', '32')]

{'ravi': '10',
 'haris': 50,
 'rajnish': '9',
 'sanjeev': '15',
 'yash': '2',
 'suraj': '32'}

In [8]:
dict1 = {'ravi': '10', 'rajnish': '9','sanjeev': '15', 'yash': '2', 'suraj': '32'}
ind = list(dict1.keys()).index('rajnish')
items = list(dict1.items())
items.insert(ind, ('haris',50))
dict1 = dict(items)
dict1

{'ravi': '10',
 'haris': 50,
 'rajnish': '9',
 'sanjeev': '15',
 'yash': '2',
 'suraj': '32'}

In [5]:
dic = {'i':9, 'b':2, 'd':4, 'a':1, 'f':6}
pos = list(dic.keys()).index('b')
items = list(dic.items())
items.insert(pos, ('c',3))
dic = dict(items)
dic

{'i': 9, 'c': 3, 'b': 2, 'd': 4, 'a': 1, 'f': 6}

In [7]:
dic = {'ravi': '10', 'rajnish': '9','sanjeev': '15', 'yash': '2', 'suraj': '32'}
pos = list(dic.keys()).index('rajnish')
items = list(dic.items())
items.insert(pos, ('c',3))
dic = dict(items)
dic

{'ravi': '10',
 'c': 3,
 'rajnish': '9',
 'sanjeev': '15',
 'yash': '2',
 'suraj': '32'}