In [1]:
list = ['apple','banana','cherry']
print(list)

['apple', 'banana', 'cherry']

In [36]:
list = ['apple','banana','cherry']
print(len(list))

3

In [33]:
list = ['apple','banana','cherry']
print(list[1])

banana

In [5]:
list = ['apple','banana','cherry']
print(list[1:])

['banana', 'cherry']

In [6]:
list = ['apple','banana','cherry']
list[1] = 'mango'
print(list)

['apple', 'mango', 'cherry']

In [37]:
list = ['apple','banana','cherry']
list[1:2] = ['mango','pineapple']
print(list)

['apple', 'mango', 'pineapple', 'cherry']

In [38]:
list = ['apple','banana','cherry']
list[1:] = ['mango','pineapple']
print(list)

['apple', 'mango', 'pineapple']

In [26]:
list = ['apple','banana','cherry']
list.insert(2, 'mango')
print(list)

['apple', 'banana', 'mango', 'cherry']

In [3]:
list = ['apple','banana','cherry']
list.append(['mango','hgfg','lkjhgf'])
print(list)

['apple', 'banana', 'cherry', ['mango', 'hgfg', 'lkjhgf']]

In [39]:
list = ['apple','banana','cherry']
list.extend(['mango','pineapple','guava'])
print(list)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'guava']

In [34]:
list = ['cherry','banana','apple']
list.extend(['mango','pineapple','guava'])
list.sort(reverse = True)
print(list)

['pineapple', 'mango', 'guava', 'cherry', 'banana', 'apple']

In [2]:
list = ['cherry','banana','apple']
list.extend(['mango','pineapple','guava'])
list.remove('banana')
print(list)

['cherry', 'apple', 'mango', 'pineapple', 'guava']

In [28]:
list = ['cherry','banana','apple']
list.extend(['mango','pineapple','guava'])
list.pop(2)
print(list)

['cherry', 'banana', 'mango', 'pineapple', 'guava']

In [35]:
list = ['cherry','banana','apple','mango','pineapple','guava','kiwi']
for i in list:
    print(i)

cherry
banana
apple
mango
pineapple
guava
kiwi

In [32]:
list = ['cherry','banana','apple','mango','pineapple','guava','kiwi']
list2 = list.copy()
list2.sort()
print(list)
print(list2)

['cherry', 'banana', 'apple', 'mango', 'pineapple', 'guava', 'kiwi']
['apple', 'banana', 'cherry', 'guava', 'kiwi', 'mango', 'pineapple']

In [10]:
lis = ['cherry','banana','apple','mango','pineapple','guava','kiwi']
b=lis[::]
lis.append(1)
print(b)
print(lis)

['cherry', 'banana', 'apple', 'mango', 'pineapple', 'guava', 'kiwi']
['cherry', 'banana', 'apple', 'mango', 'pineapple', 'guava', 'kiwi', 1]

In [15]:
lis = ['cherry', '15' ,'banana','apple',  '2' , '5' ,'mango','Pineapple', '10' ,'guava','Kiwi']
lis.sort()
print(lis)

['10', '15', '2', '5', 'Kiwi', 'Pineapple', 'apple', 'banana', 'cherry', 'guava', 'mango']

In [17]:
num = ['2', '45', '5','511', '78']
num.sort(reverse = True)
print(num)

['78', '511', '5', '45', '2']

In [14]:
list = [2,3,4,5,6]

list[1]= 8
print(list)

[2, 8, 4, 5, 6]

In [59]:
a = 'sadique'
b=a.replace('a','b')
print(id(a))
print(a)
print(id(b))

2576145300784
sadique
2576151010544

In [5]:
list = [2,3,7,5,6]

list.sort()
print(list[-1], 'is a largest Number')

7 is a largest Number

In [56]:
lis = [2,330,457,55,8]

larg = lis[0]
larg2 = lis[0]

for i in lis:
    if i > larg:
        larg = i
        
for x in lis:
    if x > larg2 and x < larg:
        larg2 = x
        
print('The larges number :',larg)
print('The second larges number :',larg2)

The larges number : 457
The second larges number : 330

In [1]:
list = [2,3,7,5,6]
sum(x for x in list)

23

In [2]:
age = ['18','45','56','20','23']
names = ['Ilyas','Imran','Yakub','Mohammad','Haris']
dict = {}
x = 0 
for eachname in names:
    dict[eachname]=age[x]      # eachname in names store as key and age as values
    x+=1
print(dict)

{'Ilyas': '18', 'Imran': '45', 'Yakub': '56', 'Mohammad': '20', 'Haris': '23'}

In [5]:
my_list = [2,3,7,5,6]

for i in range(0,len(my_list)-1,2):
    my_list[i], my_list[i+1] = my_list[i+1] , my_list[i]
    
print(my_list)

[3, 2, 5, 7, 6]

In [11]:
# find the leader

list_num = [16,17,4,3,5,2]
ind = 0
num = list_num[ind]
res_list = []

for item in list_num:
    if item > num:
        res_list.append(item)
        num = item
    else:
        continue
print(res_list)

[17]

In [70]:
list_num = [16,17,4,3,5,2]
ls=[]
for x in range(0, len(list_num)):
    for j in range(x+1, len(list_num)):
        if list_num[x] <= list_num[j]:
            break
    else:
        ls.append(list_num[x])
print(ls)

[17, 5, 2]

In [23]:
z = [16,17,4,3,5,2,45]
print(z[-1::-3])

[45, 3, 16]

In [62]:
height_num = [1,2,8,9,2,1,75,39,15,190]
result = height_num[0]
for he_num in height_num:
    if result < he_num:
        result = he_num
print(result)

190

In [11]:
height_marks = {'Haris':30,'sadique':40,'sohel':15,'juned':35,'khalid':25}
height_marks_list = []

for he_num in height_marks.values():
    print()

[30, 40, 15, 35, 25]
30

In [96]:
height_marks = {'Haris':30,'sadique':7,'sohel':51,'juned':5,'khalid':25}
height_marks_list = []

for i in height_marks.values():
    height_marks_list.append(i)
    height_marks_list.sort(reverse=True)

    
print(height_marks_list[0])
# result = height_marks_list[0]

name = height_marks[height_marks_list[0]]
print(name)

SyntaxError: expected ':' (835934229.py, line 11)

In [67]:
height_marks = {'Haris':30}
for x in height_marks.values():
    print(x)

30

In [ ]:
name = dictionary[age]
        print name